<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <% include partials/meta.ejs %>
  <meta http-equiv="description" content="<%= description %>">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/styles/main.css' />
</head>

<body class="bg-zinc-50 dark:bg-black">
  <%- include('partials/header.ejs', {selectedIndex: 0}) %>
  <section class="mt-16 sm:mt-32">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
            <div class="lg:pl-20">
              <div class="max-w-xs px-2.5 lg:max-w-none mx-auto"><img alt="" loading="lazy" width="800" height="800"
                  decoding="async" data-nimg="1"
                  class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
                  sizes="(min-width: 1024px) 32rem, 20rem" src="/images/withnn.jpg" style="color: transparent;"></div>
            </div>
            <div class="lg:order-first lg:row-span-2">
              <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100">
                我是污斑兔，生活在美丽的杭州市。尊重技术，尝试开发未来。</h1>
              <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
                <p>我一直是一个喜欢电子设备的人<b>（还有狗！）</b>，当我还是个孩子，我老爸就把我丢到朋友开的街机厅，我是在这种氛围下成长的。这让我养成了，对于编程的热爱，对于创造的渴望。</p>
                <p>小时候曾期望自己当一名科学家，没错，中国农村孩子，在环境教导下，总是会这样去期待自己。等到我初高中后，我才知道，自己喜欢的东西叫——计算机。</p>
                <p>高中后，我有了完全属于自己的计算机，当时记得是“清华紫光”的电脑，TA伴随了我整个高中时光。不仅仅让我接触了各类应用，接触了有趣的游戏，还让我萌生了对编程的兴趣。我记得当时学习的编程语言就是挑战了C。
                </p>
                <p>
                  现如今，我已经步入社会10年了。我知道自己是一名执行力极强的人，但是在传统公司的管理下，很难发挥自己的才干。于是，我的工作职业变成了全职的自由职业者。我在开发自己的软件同时承接来自客户与朋友的项目，从而形成良性循环。
                </p>
                <p>期待合作：<b>半日16000元/月，全日32000元/月</b></p>
              </div>
            </div>
            <div class="lg:pl-20">
              <ul role="list">
                <li class="flex">
                  <a class="group -m-1 p-1 flex items-center" aria-label="Follow on Bilibili"
                    href="https://space.bilibili.com/87356657" target="_blank">
                    <svg t="1731059817099" class="icon" viewBox="0 0 1024 1024" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" p-id="7099" width="24" height="24">
                      <path
                        d="M183.808 676.352c19.968-14.848 38.912-29.696 58.368-44.544-2.56-3.072-55.808-24.064-68.096-27.136 3.072 23.552 6.144 47.616 9.728 71.68z"
                        fill="#71717A" p-id="7100"></path>
                      <path
                        d="M866.304 0H157.696C71.168 0 0 69.632 0 156.16v711.168c0 87.04 71.168 156.672 157.696 156.672h709.12c86.528 0 157.184-69.632 157.696-156.16v-711.68c-1.024-86.528-71.68-156.16-158.208-156.16z m73.728 436.736h18.944c3.072 0 4.608 1.024 4.608 5.12V501.248c-7.68-0.512-15.36-0.512-23.552-1.024V436.736z m-129.024-7.168c2.048 0 3.072 1.536 3.584 4.096 2.048 19.968 3.584 39.424 5.632 59.904-7.68 1.024-14.848 1.024-23.04 1.536-3.072-22.016-5.632-43.008-8.192-65.536h22.016z m-30.72 3.584c3.072-0.512 2.048 2.048 2.56 4.096 0.512 7.168 1.536 14.336 2.048 21.504 1.024 11.264 2.56 22.016 3.584 33.28v4.608l-17.408 3.072c-4.096-20.992-7.68-41.984-11.264-63.488 6.656-1.024 13.312-2.048 20.48-3.072z m-300.544 3.584h18.944c3.072 0 4.608 1.024 4.608 5.12V501.248c-7.68-0.512-15.36-0.512-23.552-1.024V436.736z m-129.024-7.168c2.048 0 3.072 1.536 3.584 4.096 2.048 19.968 3.584 39.424 5.632 59.904-7.68 1.024-14.848 1.024-23.04 1.536-3.072-22.016-5.632-43.008-8.192-65.536h22.016z m-30.72 3.584c3.072-0.512 2.048 2.048 2.56 4.096 0.512 7.168 1.536 14.336 2.048 21.504 1.024 11.264 2.56 22.016 3.584 33.28v4.608l-17.408 3.072c-4.096-20.992-7.68-41.984-11.264-63.488 6.656-1.024 13.312-2.048 20.48-3.072z m-3.584 205.312c-3.072 9.216-9.216 16.896-17.408 23.04-18.944 14.848-38.4 28.16-61.44 35.84-15.872 5.632-32.256 9.216-49.152 11.776-21.504 3.072-44.032 4.608-66.048 7.168-4.608 0.512-8.704 0-13.824 0-2.048 0-3.072-1.024-3.072-3.072 0-9.728-1.024-19.968-1.536-30.208-1.024-12.8-2.56-25.6-4.096-38.912-2.048-18.432-4.096-35.84-6.656-54.272-2.048-18.944-4.608-37.888-7.168-56.832-2.048-18.432-4.096-37.376-6.656-55.808-1.536-21.504-4.608-41.984-7.68-63.488-3.072-24.576-8.192-49.664-14.336-74.24-0.512-1.024 0.512-3.072 1.536-4.096 21.504-8.192 43.008-16.896 64.512-25.6 7.168-3.072 7.68-4.096 7.68 5.12 0 38.4 0 76.8 0.512 115.2 0.512 19.968 1.024 39.936 2.56 59.904 1.536 24.064 4.096 48.128 6.656 72.704 0 1.024 0.512 2.048 0.512 2.56 8.192-0.512 16.384-1.024 24.064-1.024 34.304-1.024 67.584 3.584 99.328 16.384 15.872 6.144 30.72 13.312 44.544 23.552 10.752 8.192 13.312 18.944 7.168 34.304z m29.184 49.664c-11.264-56.32-22.016-111.616-32.768-168.448 9.216-1.024 17.92-2.56 26.624-3.584 6.144-1.024 12.8-1.024 18.944-1.536 3.584-0.512 5.632 1.024 6.144 4.096 1.536 8.704 3.072 17.408 4.096 26.624 2.048 14.848 3.072 29.696 4.608 44.544 1.536 12.8 3.072 25.6 4.096 38.912 1.536 13.824 3.072 27.648 5.12 41.984 0.512 4.096 1.024 8.192 1.536 12.8-13.312 1.536-25.6 3.072-38.4 4.608z m92.672-16.384c-11.264-1.024-22.016-1.536-34.304-3.072-10.24-102.912-18.944-207.36-38.4-310.784 6.144-0.512 12.8-1.536 19.456-2.048 7.68-0.512 14.848-1.024 22.528-1.536 6.144-0.512 8.704 1.024 9.216 7.168l3.072 49.152c1.536 22.016 3.072 44.544 4.608 66.56 1.024 15.872 1.536 31.744 3.072 48.128l4.608 52.224c1.536 12.8 2.56 25.6 3.584 38.4 1.536 13.824 3.072 27.648 4.096 41.984l1.024 11.776c0.512 2.048-0.512 2.56-2.56 2.048z m29.696-235.008c3.072 0 4.096 0.512 4.096 4.096-0.512 8.704 0 17.92 0 26.624v32.768c-6.656 0.512-12.288 1.024-18.432 1.536-1.536-20.992-3.072-42.496-5.12-65.024h19.456z m3.584 254.976c-1.024 0-3.072-1.536-3.072-3.072-1.536-18.944-3.072-37.888-5.12-56.832-1.536-17.408-3.072-35.328-4.608-52.736-1.536-17.92-3.072-35.84-4.608-54.272 0-1.024 0-2.048-0.512-3.584 4.096-1.024 8.192-1.536 12.8-1.536 11.264 0 23.04 0 34.304 0.512 3.072 0 4.096 2.048 4.096 4.608 0 5.632 0.512 11.264 0.512 16.896 0 26.624-0.512 53.248 0 79.872l1.536 64c0 1.024 0 2.56 0.512 5.12-12.288 1.024-24.576 1.536-35.84 1.024z m305.152-53.248c-3.072 9.216-9.216 16.896-17.408 23.04-18.944 14.848-38.4 28.16-61.44 35.84-15.872 5.632-32.256 9.216-49.152 11.776-21.504 3.072-44.032 4.608-66.048 7.168-4.608 0.512-8.704 0-13.824 0-2.048 0-3.072-1.024-3.072-3.072 0-9.728-1.024-19.968-1.536-30.208-1.024-12.8-2.56-25.6-4.096-38.912-2.048-18.432-4.096-35.84-6.656-54.272-2.048-18.944-4.608-37.888-7.168-56.832-2.048-18.432-4.096-37.376-6.656-55.808-3.072-20.992-5.632-41.984-9.216-63.488-3.072-24.576-8.192-49.664-14.336-74.24 0-1.024 1.024-3.072 1.536-3.584 21.504-8.192 43.008-16.896 64.512-25.6 7.168-3.072 7.68-4.096 7.68 5.12 0 38.4 0 76.8 0.512 115.2 0.512 19.968 1.024 39.936 2.56 59.904 1.536 24.064 4.096 48.128 6.656 72.704 0 1.024 0.512 2.048 0.512 2.56 8.192-0.512 16.384-1.024 24.064-1.024 34.304-1.024 67.584 3.584 99.328 16.384 15.872 6.144 30.72 13.312 44.544 23.552 12.288 7.68 14.848 18.432 8.704 33.792z m29.184 49.664c-11.264-56.32-22.016-111.616-32.768-168.448 9.216-1.024 17.92-2.56 26.624-3.584 6.144-1.024 12.8-1.024 18.944-1.536 3.584-0.512 5.632 1.024 6.144 4.096 1.536 8.704 3.072 17.408 4.096 26.624 2.048 14.848 3.072 29.696 4.608 44.544 1.536 12.8 3.072 25.6 4.096 38.912 1.536 13.824 3.072 27.648 5.12 41.984 0.512 4.096 1.024 8.192 1.536 12.8-13.312 1.536-25.6 3.072-38.4 4.608z m92.672-16.384c-11.264-1.024-22.016-1.536-34.304-3.072-10.24-102.912-18.944-207.36-38.4-310.784 6.144-0.512 12.8-1.536 19.456-2.048 7.68-0.512 14.848-1.024 22.528-1.536 6.144-0.512 8.704 1.024 9.216 7.168l3.072 49.152c1.536 22.016 3.072 44.544 4.608 66.56 1.024 15.872 1.536 31.744 3.072 48.128l4.608 52.224c1.536 12.8 2.56 25.6 3.584 38.4 1.536 13.824 3.072 27.648 4.096 41.984l1.024 11.776c0.512 2.048-0.512 2.56-2.56 2.048z m29.696-235.008c3.072 0 4.096 0.512 4.096 4.096-0.512 8.704 0 17.92 0 26.624v32.768c-6.656 0.512-12.288 1.024-18.432 1.536-1.536-20.992-3.072-42.496-5.12-65.024h19.456z m3.584 254.976c-1.024 0-3.072-1.536-3.072-3.072-1.536-18.944-3.072-37.888-5.12-56.832-1.536-17.408-3.072-35.328-4.608-52.736-1.536-17.92-3.072-35.84-4.608-54.272 0-1.024 0-2.048-0.512-3.584 4.096-1.024 8.192-1.536 12.8-1.536 11.264 0 23.04 0 34.304 0.512 3.072 0 4.096 2.048 4.096 4.608 0 5.632 0.512 11.264 0.512 16.896 0 26.624-0.512 53.248 0 79.872l1.536 64c0 1.024 0 2.56 0.512 5.12-12.288 1.024-24.576 1.536-35.84 1.024z"
                        fill="#71717A" p-id="7101"></path>
                      <path
                        d="M644.096 676.352c19.968-14.848 38.912-29.696 58.368-44.544-2.56-3.072-55.808-24.064-68.096-27.136 3.072 23.552 6.144 47.616 9.728 71.68z"
                        fill="#71717A" p-id="7102"></path>
                    </svg>
                    <span class="ml-4 dark:text-white">Bilibili</span>
                  </a>
                </li>
                <li class="mt-4 flex">
                  <a class="group -m-1 p-1 flex items-center" aria-label="Follow on CSN"
                    href="https://blog.csdn.net/zweizhao" target="_blank">
                    <svg t="1731059506573" class="icon" viewBox="0 0 1024 1024" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" p-id="3418" width="24" height="24">
                      <path
                        d="M512 1024C229.2224 1024 0 794.7776 0 512 0 229.2224 229.2224 0 512 0c282.7776 0 512 229.2224 512 512 0 282.7776-229.2224 512-512 512z m17.066667-413.525333c34.850133 4.352 68.778667 5.12 102.741333 2.0992 23.04-2.048 44.817067-8.362667 64.170667-21.9136 38.212267-26.794667 49.783467-85.1968 24.251733-123.050667-14.626133-21.7088-36.8128-30.344533-60.757333-35.498667-35.054933-7.543467-70.4512-5.751467-105.847467-3.413333-5.666133 0.3584-6.7584 3.072-7.236267 8.209067-3.072 32.682667-6.536533 65.314133-9.813333 97.962666-2.5088 24.814933-4.932267 49.629867-7.509333 75.605334z m53.4016-33.928534c1.962667-20.906667 3.6352-39.338667 5.4272-57.770666 1.553067-15.906133 3.413333-31.778133 4.727466-47.701334 0.3584-4.283733 1.553067-6.656 5.956267-6.382933 15.616 1.041067 31.709867 0.034133 46.728533 3.652267 36.488533 8.823467 48.725333 54.306133 23.3472 83.029333-15.8208 17.902933-36.7616 23.586133-59.255466 25.088-8.465067 0.546133-17.015467 0.085333-26.9312 0.085333zM512 434.295467c-2.184533-0.648533-3.5328-1.1776-4.932267-1.4336-37.717333-6.877867-75.690667-8.328533-113.646933-2.816-20.974933 3.037867-41.0112 9.489067-57.480533 23.330133-22.9888 19.319467-21.640533 46.848 4.4032 62.0032 13.056 7.594667 28.023467 12.509867 42.5984 17.288533 14.08 4.608 28.996267 6.826667 43.144533 11.264 12.5952 3.925333 14.011733 14.318933 3.584 22.306134-3.345067 2.56-7.441067 5.085867-11.537067 5.751466-11.195733 1.826133-22.698667 4.386133-33.826133 3.566934-24.098133-1.774933-48.042667-5.461333-72.5504-8.430934-1.365333 10.615467-2.935467 23.0912-4.5568 35.9424 4.181333 1.365333 7.68 2.730667 11.264 3.618134 33.9456 8.4992 68.386133 9.608533 102.912 5.12 20.087467-2.6112 39.4752-7.901867 56.695467-19.029334 28.603733-18.4832 36.693333-57.1904-4.676267-75.383466-14.506667-6.382933-30.190933-10.410667-45.482667-15.086934-11.4176-3.4816-23.313067-5.614933-34.525866-9.5232-9.7792-3.413333-11.144533-12.202667-3.037867-18.397866 4.6592-3.549867 10.717867-6.997333 16.384-7.3728a480.853333 480.853333 0 0 1 53.384533-0.853334c15.377067 0.699733 30.651733 3.549867 46.4896 5.5296L512 434.295467z m257.143467 2.048L750.933333 614.2976h54.152534c4.778667-45.636267 9.710933-90.7264 14.062933-135.8848 0.6144-6.365867 2.3552-8.840533 8.686933-9.0112 11.434667-0.273067 22.8864-1.979733 34.286934-1.570133 23.722667 0.853333 42.3936 9.728 38.4 43.264-2.901333 24.2688-5.597867 48.571733-8.2432 72.874666-1.092267 10.069333-1.826133 20.189867-2.730667 30.4128h55.330133c3.584-35.259733 7.9872-70.058667 10.496-104.994133 3.413333-47.4624-17.7664-73.3184-64.682666-80.213333-40.96-6.007467-81.339733-0.341333-121.5488 7.133866z m-483.498667 134.6048c-8.738133 1.297067-16.384 2.798933-24.098133 3.4816-25.6512 2.235733-51.319467 3.9424-76.305067-4.266667-13.909333-4.590933-24.6784-12.578133-29.7984-25.9584-7.901867-20.701867 0.887467-47.104 19.831467-60.3136 17.373867-12.117333 37.717333-15.9232 58.453333-15.9232 22.545067-0.017067 45.090133 2.423467 68.232533 3.84L307.2 432.298667c-15.069867-1.723733-29.4912-3.925333-43.997867-4.9152-41.0112-2.798933-80.64 2.6112-117.469866 20.462933-30.020267 14.557867-52.053333 36.010667-58.6752 68.130133-7.850667 38.144 11.537067 69.495467 51.7632 85.845334 19.1488 7.765333 39.287467 12.509867 60.0064 12.5952 24.746667 0.1024 49.493333-1.570133 74.205866-2.952534 3.106133-0.170667 8.311467-2.901333 8.669867-5.034666 1.979733-11.554133 2.730667-23.278933 3.9424-35.464534z"
                        fill="#71717A" p-id="3419"></path>
                    </svg>
                    <span class="ml-4 dark:text-white">CSDN</span>
                  </a>
                </li>
                <li class="mt-4 flex">
                  <a class="group -m-1 p-1 flex items-center" aria-label="Follow on GitHub"
                    href="https://github.com/kvker" target="_blank">
                    <svg t="1731059844572" class="icon" viewBox="0 0 1024 1024" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" p-id="8172" width="24" height="24">
                      <path
                        d="M512 12.672c-282.88 0-512 229.248-512 512 0 226.261333 146.688 418.133333 350.08 485.76 25.6 4.821333 34.986667-11.008 34.986667-24.618667 0-12.16-0.426667-44.373333-0.64-87.04-142.421333 30.890667-172.458667-68.693333-172.458667-68.693333C188.672 770.986667 155.008 755.2 155.008 755.2c-46.378667-31.744 3.584-31.104 3.584-31.104 51.413333 3.584 78.421333 52.736 78.421333 52.736 45.653333 78.293333 119.850667 55.68 149.12 42.581333 4.608-33.109333 17.792-55.68 32.426667-68.48-113.706667-12.8-233.216-56.832-233.216-253.013333 0-55.893333 19.84-101.546667 52.693333-137.386667-5.76-12.928-23.04-64.981333 4.48-135.509333 0 0 42.88-13.738667 140.8 52.48 40.96-11.392 84.48-17.024 128-17.28 43.52 0.256 87.04 5.888 128 17.28 97.28-66.218667 140.16-52.48 140.16-52.48 27.52 70.528 10.24 122.581333 5.12 135.509333 32.64 35.84 52.48 81.493333 52.48 137.386667 0 196.693333-119.68 240-233.6 252.586667 17.92 15.36 34.56 46.762667 34.56 94.72 0 68.522667-0.64 123.562667-0.64 140.202666 0 13.44 8.96 29.44 35.2 24.32C877.44 942.592 1024 750.592 1024 524.672c0-282.752-229.248-512-512-512"
                        fill="#71717A" p-id="8173"></path>
                    </svg>
                    <span class="ml-4 dark:text-white">Github</span>
                  </a>
                </li>
                <li class="mt-8 flex">
                  <a class="group -m-1 p-1 flex items-center" aria-label="Follow on Email"
                    href="mailto:zweizhao@foxmail.com">
                    <svg t="1731123224841" class="icon" viewBox="0 0 1024 1024" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" p-id="5176" width="24" height="24">
                      <path
                        d="M513 583.8l448.5-448.5c-11.6-4.7-24.3-7.3-37.5-7.3H100c-12.7 0-24.9 2.4-36.1 6.7L513 583.8z"
                        fill="#71717A" p-id="5177"></path>
                      <path
                        d="M513 674.3L14.6 175.9C5.3 191.1 0 208.9 0 228v568c0 55.2 44.8 100 100 100h824c55.2 0 100-44.8 100-100V228c0-18.5-5.1-35.9-13.9-50.8L513 674.3z"
                        fill="#71717A" p-id="5178"></path>
                    </svg>
                    <span class="ml-4 dark:text-white">Email</span>
                  </a>
                </li>
                <li class="mt-4 border-t border-zinc-100 dark:border-zinc-700/40 flex">
                  <button class="group -m-1 p-1 flex items-center" aria-label="Follow on Wechat" href="#"
                    popovertarget="wechatImagePopover">
                    <svg t="1731121783662" class="icon" viewBox="0 0 1024 1024" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" p-id="2329" width="24" height="24">
                      <path
                        d="M996.427776 623.853568c0-139.354112-138.063872-251.815936-291.87072-251.815936-162.281472 0-290.656256 112.461824-290.656256 251.815936 0 139.352064 128.374784 251.807744 290.656256 251.807744 35.119104 0 69.031936-11.001856 104.148992-18.331648l92.043264 52.559872-24.2176-88.014848c67.821568-50.122752 119.896064-119.791616 119.896064-198.02112z m-386.338816-45.24032c-16.95744 0-33.906688-15.890432-33.906688-31.77472 0-19.562496 16.95744-35.446784 33.906688-35.446784 25.438208 0 43.599872 15.890432 43.599872 35.446784 0.002048 15.884288-18.161664 31.77472-43.599872 31.77472z m190.144512 0c-18.167808 0-33.910784-15.890432-33.910784-31.77472 0-19.562496 15.745024-35.446784 33.910784-35.446784 24.219648 0 42.387456 15.890432 42.387456 35.446784 0 15.884288-18.169856 31.77472-42.387456 31.77472z"
                        fill="#71717A" p-id="2330"></path>
                      <path
                        d="M683.97056 352.48128c9.68704 0 20.588544 1.216512 32.700416 3.672064-29.063168-141.809664-178.03264-242.044928-345.155584-242.044928-188.925952 0-343.943168 127.127552-343.943168 293.373952 0 94.130176 50.868224 171.145216 136.855552 232.25344l-35.131392 105.132032 122.318848-62.347264c42.385408 12.232704 75.087872 19.562496 119.90016 19.562496 9.68704 0 20.594688 0 30.27968-1.216512-6.053888-24.45312-9.684992-47.681536-9.684992-73.34912 0-150.355968 127.156224-275.03616 291.86048-275.03616z m-185.2928-91.686912c26.64448 0 43.599872 15.890432 43.599872 42.78272 0 25.675776-16.955392 42.784768-43.599872 42.784768-25.432064 0-49.657856-17.1008-49.657856-42.784768 0-26.894336 24.225792-42.78272 49.657856-42.78272z m-239.794176 85.573632c-25.432064 0-52.076544-17.115136-52.076544-42.79296 0-26.894336 26.64448-42.78272 52.076544-42.78272 24.223744 0 43.599872 15.890432 43.599872 42.78272 0 25.677824-19.376128 42.79296-43.599872 42.79296z"
                        fill="#71717A" p-id="2331"></path>
                    </svg>
                    <span class="ml-4 dark:text-white">微信</span>
                  </button>
                </li>
                <li class="mt-4 border-t border-zinc-100 dark:border-zinc-700/40 flex">
                  <button class="group -m-1 p-1 flex items-center" aria-label="Follow on QQ" href="#"
                    popovertarget="qqImagePopover">
                    <svg t="1731121865053" class="icon" viewBox="0 0 1024 1024" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" p-id="3540" width="24" height="24">
                      <path
                        d="M824.8 613.2c-16-51.4-34.4-94.6-62.7-165.3C766.5 262.2 689.3 112 511.5 112 331.7 112 256.2 265.2 261 447.9c-28.4 70.8-46.7 113.7-62.7 165.3-34 109.5-23 154.8-14.6 155.8 18 2.2 70.1-82.4 70.1-82.4 0 49 25.2 112.9 79.8 159-26.4 8.1-85.7 29.9-71.6 53.8 11.4 19.3 196.2 12.3 249.5 6.3 53.3 6 238.1 13 249.5-6.3 14.1-23.8-45.3-45.7-71.6-53.8 54.6-46.2 79.8-110.1 79.8-159 0 0 52.1 84.6 70.1 82.4 8.5-1.1 19.5-46.4-14.5-155.8z"
                        p-id="3541" fill="#71717A"></path>
                    </svg>
                    <span class="ml-4 dark:text-white">QQ</span>
                  </button>
                </li>
              </ul>
              <div popover id="wechatImagePopover">
                <img popover id="wechatImagePopover" src="/images/wechat-qrcode.jpg" alt="wechat-image">
              </div>
              <div popover id="qqImagePopover">
                <img src="/images/qq-qrcode.jpg" alt="qq-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% include partials/footer.ejs %>
</body>

</html>